In [1]:
# Importando Bibliotecas
import numpy as np 
import pandas as pd
from scipy import stats 
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Carregando os dados
df_item = pd.read_csv("olist_order_items_dataset.csv")
df_reviews = pd.read_csv("olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("olist_orders_dataset.csv")
df_products = pd.read_csv("olist_products_dataset.csv")
df_geolocation = pd.read_csv("olist_geolocation_dataset.csv")
df_sellers = pd.read_csv("olist_sellers_dataset.csv")
df_order_pay = pd.read_csv("olist_order_payments_dataset.csv")
df_customers = pd.read_csv("olist_customers_dataset.csv")
df_category = pd.read_csv("product_category_name_translation.csv")

In [3]:
# Unindo os data sets

df_all = df_orders.merge(df_item, on='order_id', how='left')
df_all = df_all.merge(df_order_pay, on='order_id', how='outer', validate='m:m')
df_all = df_all.merge(df_reviews, on='order_id', how='outer')
df_all = df_all.merge(df_products, on='product_id', how='outer')
df_all = df_all.merge(df_customers, on='customer_id', how='outer')
df_all = df_all.merge(df_sellers, on='seller_id', how='outer')

print(df_all.shape)

(119143, 39)

### Limpeza e compreensão dos dados.

In [4]:
# Uma primeira olhada nos dados.

print(df_all.shape)
print(df_all.head())
print(df_all.columns)
print(df_all.info())

(119143, 39)
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
2  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
3  128e10d95713541c87cd1a2e48201934  a20e8105f23924cd00833fd87daa0831
4  0e7e841ddf8f8f2de2bad69267ecfbcf  26c7ac168e1433912a51b924fbd34d34

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
2    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
3    delivered      2017-08-15 18:29:31  2017-08-15 20:05:16
4    delivered      2017-08-02 18:24:47  2017-08-02 18:43:15

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2017-10-04 19:55:00           2017-10-10 21:25:13
2          2017-10-04 19:55:00           2017-10-10 21:25:13
3          2017-08-17 15:28:33           2017-08-18 14:44:43
4          2017-08-04 17:35:43           2017-08-07 18:30:01

  order_estimated_delivery_date  order_item_id  \
0           2017-10-18 00:00:00            1.0
1           2017-10-18 00:00:00            1.0
2           2017-10-18 00:00:00            1.0
3           2017-08-28 00:00:00            1.0
4           2017-08-15 00:00:00            1.0

                         product_id  ... product_length_cm product_height_cm  \
0  87285b34884572647811a353c7ac498a  ...              19.0               8.0
1  87285b34884572647811a353c7ac498a  ...              19.0               8.0
2  87285b34884572647811a353c7ac498a  ...              19.0               8.0
3  87285b34884572647811a353c7ac498a  ...              19.0               8.0
4  87285b34884572647811a353c7ac498a  ...              19.0               8.0

   product_width_cm                customer_unique_id  \
0              13.0  7c396fd4830fd04220f754e42b4e5bff
1              13.0  7c396fd4830fd04220f754e42b4e5bff
2              13.0  7c396fd4830fd04220f754e42b4e5bff
3              13.0  3a51803cc0d012c3b5dc8b7528cb05f7
4              13.0  ef0996a1a279c26e7ecbd737be23d235

   customer_zip_code_prefix customer_city  customer_state  \
0                      3149     sao paulo              SP
1                      3149     sao paulo              SP
2                      3149     sao paulo              SP
3                      3366     sao paulo              SP
4                      2290     sao paulo              SP

   seller_zip_code_prefix seller_city  seller_state
0                  9350.0        maua            SP
1                  9350.0        maua            SP
2                  9350.0        maua            SP
3                  9350.0        maua            SP
4                  9350.0        maua            SP

[5 rows x 39 columns]
Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119143 entries, 0 to 119142
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119143 non-null  object
 1   customer_id                    119143 non-null  object
 2   order_status                   119143 non-null  object
 3   order_purchase_timestamp       119143 non-null  object
 4   order_approved_at              118966 non-null  object
 5   order_delivered_carrier_date   117057 non-null  object
 6   order_delivered_customer_date  115722 non-null  object
 7   order_estimated_delivery_date  119143 non-null  object
 8   order_item_id                  118310 non-null  float64
 9   product_id                     118310 non-null  object
 10  seller_id                      118310 non-null  object
 11  shipping_limit_date            118310 non-null  object
 12  price                          118310 non-null  float64
 13  freight_value                  118310 non-null  float64
 14  payment_sequential             119140 non-null  float64
 15  payment_type                   119140 non-null  object
 16  payment_installments           119140 non-null  float64
 17  payment_value                  119140 non-null  float64
 18  review_id                      118146 non-null  object
 19  review_score                   118146 non-null  float64
 20  review_comment_title           13989 non-null   object
 21  review_comment_message         50245 non-null   object
 22  review_creation_date           118146 non-null  object
 23  review_answer_timestamp        118146 non-null  object
 24  product_category_name          116601 non-null  object
 25  product_name_lenght            116601 non-null  float64
 26  product_description_lenght     116601 non-null  float64
 27  product_photos_qty             116601 non-null  float64
 28  product_weight_g               118290 non-null  float64
 29  product_length_cm              118290 non-null  float64
 30  product_height_cm              118290 non-null  float64
 31  product_width_cm               118290 non-null  float64
 32  customer_unique_id             119143 non-null  object
 33  customer_zip_code_prefix       119143 non-null  int64
 34  customer_city                  119143 non-null  object
 35  customer_state                 119143 non-null  object
 36  seller_zip_code_prefix         118310 non-null  float64
 37  seller_city                    118310 non-null  object
 38  seller_state                   118310 non-null  object
dtypes: float64(15), int64(1), object(23)
memory usage: 35.5+ MB
None

In [5]:
df_all.isnull().sum() / df_all.shape[0] * 100

order_id                          0.000000
customer_id                       0.000000
order_status                      0.000000
order_purchase_timestamp          0.000000
order_approved_at                 0.148561
order_delivered_carrier_date      1.750837
order_delivered_customer_date     2.871339
order_estimated_delivery_date     0.000000
order_item_id                     0.699160
product_id                        0.699160
seller_id                         0.699160
shipping_limit_date               0.699160
price                             0.699160
freight_value                     0.699160
payment_sequential                0.002518
payment_type                      0.002518
payment_installments              0.002518
payment_value                     0.002518
review_id                         0.836810
review_score                      0.836810
review_comment_title             88.258647
review_comment_message           57.827988
review_creation_date              0.836810
review_answer_timestamp           0.836810
product_category_name             2.133571
product_name_lenght               2.133571
product_description_lenght        2.133571
product_photos_qty                2.133571
product_weight_g                  0.715946
product_length_cm                 0.715946
product_height_cm                 0.715946
product_width_cm                  0.715946
customer_unique_id                0.000000
customer_zip_code_prefix          0.000000
customer_city                     0.000000
customer_state                    0.000000
seller_zip_code_prefix            0.699160
seller_city                       0.699160
seller_state                      0.699160
dtype: float64

In [7]:
df_all.describe()

,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,review_score,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_zip_code_prefix,seller_zip_code_prefix
count,118310.000000,118310.000000,118310.000000,119140.000000,119140.000000,119140.000000,118146.000000,116601.000000,116601.000000,116601.000000,118290.000000,118290.000000,118290.000000,118290.000000,119143.000000,118310.000000
mean,1.196543,120.646603,20.032387,1.094737,2.941246,172.735135,4.015582,48.767498,785.967822,2.205161,2112.250740,30.265145,16.619706,23.074799,35033.451298,24442.410413
std,0.699489,184.109691,15.836850,0.730141,2.777848,267.776077,1.400436,10.033540,652.584121,1.717452,3786.695111,16.189367,13.453584,11.749139,29823.198969,27573.004511
min,1.000000,0.850000,0.000000,1.000000,0.000000,0.000000,1.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1003.000000,1001.000000
25%,1.000000,39.900000,13.080000,1.000000,1.000000,60.850000,4.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,11250.000000,6429.000000
50%,1.000000,74.900000,16.280000,1.000000,2.000000,108.160000,5.000000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,24240.000000,13660.000000
75%,1.000000,134.900000,21.180000,1.000000,4.000000,189.240000,5.000000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,58475.000000,27972.000000
max,21.000000,6735.000000,409.680000,29.000000,24.000000,13664.080000,5.000000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99990.000000,99730.000000

In [8]:
df_all.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350.0,maua,SP
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350.0,maua,SP
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350.0,maua,SP
5,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,delivered,2017-10-23 23:26:46,2017-10-25 02:14:11,2017-10-27 16:48:46,2017-11-07 18:04:59,2017-11-13 00:00:00,1.0,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,e781fdcc107d13d865fc7698711cc572,88032,florianopolis,SC,9350.0,maua,SP
6,8736140c61ea584cb4250074756d8f3b,ab8844663ae049fda8baf15fc928f47f,delivered,2017-08-10 13:35:55,2017-08-10 13:50:09,2017-08-11 13:52:35,2017-08-16 19:03:36,2017-08-23 00:00:00,1.0,b00a32a0b42fd65efb58a5822009f629,...,20.0,10.0,15.0,02c9e0c05a817d4562ec0e8c90f29dba,8577,itaquaquecetuba,SP,9350.0,maua,SP
7,88407c8c6e12493ff6e845df39540112,e902cb9d9992a69a267f69dec57aa3a3,delivered,2017-08-15 02:03:01,2017-08-15 02:15:13,2017-08-16 15:52:29,2017-08-25 21:59:26,2017-08-28 00:00:00,1.0,b00a32a0b42fd65efb58a5822009f629,...,20.0,10.0,15.0,28adbfbaf0b9c5e5a0555a8c853a7534,13060,campinas,SP,9350.0,maua,SP
8,4f2acff0b7d2bcc4a408abe5a223d407,d67b6cca5a87299f711a6961f579fe67,delivered,2017-08-01 16:31:35,2017-08-02 02:50:25,2017-08-03 14:36:34,2017-08-09 19:56:50,2017-08-23 00:00:00,1.0,b00a32a0b42fd65efb58a5822009f629,...,20.0,10.0,15.0,aea90564d6f09ae11bf936f55ed49d72,82030,curitiba,PR,9350.0,maua,SP
9,019aaee09698daf81dcffe9d94a18b5c,e3893e579755de4feb1a4d0313c103fa,delivered,2017-08-10 14:04:58,2017-08-10 14:23:38,2017-08-11 13:52:35,2017-08-12 11:56:49,2017-08-23 00:00:00,1.0,b00a32a0b42fd65efb58a5822009f629,...,20.0,10.0,15.0,cd6b577df45c00daa6b2767eaa947c72,13092,campinas,SP,9350.0,maua,SP

In [9]:
df_all['review_comment_message']

0         Não testei o produto ainda, mas ele veio corre...
1         Não testei o produto ainda, mas ele veio corre...
2         Não testei o produto ainda, mas ele veio corre...
3         Deveriam embalar melhor o produto. A caixa vei...
4         Só achei ela pequena pra seis xícaras ,mais é ...
                                ...
119138                                                  NaN
119139                                                  NaN
119140                                                  NaN
119141                                                  NaN
119142                                                  NaN
Name: review_comment_message, Length: 119143, dtype: object

In [13]:
df_all.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'review_id', 'review_score',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'product_category_name',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'seller_zip_code_prefix', 'seller_city', 'seller_state'],
      dtype='object')

In [16]:
# Removendo a coluna review_comment_message

df_all.drop('review_comment_message', axis=1, inplace=True)

In [ ]:
# Removendo a coluna review_comment_title

df_all.drop('review_comment_title', axis=1, inplace=True)

In [17]:
df_all.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'review_id', 'review_score',
       'review_creation_date', 'review_answer_timestamp',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')